@import '../../scss_partials/variables';

.cursor {
  z-index: 9999;
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: $hover-color;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.outline {
  z-index: 9999;
  position: fixed;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .outline,
  .cursor {
    display: none;
  }
}
